body {
    background-color: rgb(231, 231, 231);
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 5px red;
}

h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px blue;
    margin-top: -1px;
    margin-bottom: -3px;
}

h4 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    
}

#header {
    background-color: rgb(224, 222, 222);
    font-family: sans-serif;
    margin-left: 90px;
    margin-right: 80px;
    padding: 10px;
}

#sinopsis {
    background-color: rgb(224, 222, 222);
    font-family: sans-serif;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    padding: 1px;
}

#cuerpo {
    background-color: rgb(224, 222, 222);
    font-family: sans-serif;
    margin-left: 380px;
    margin-right: 380px;
    padding: 10px;
}

#premios {
    background-color: rgb(224, 222, 222);
    font-family: sans-serif;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
}

#tabla {
    background-color: rgb(224, 222, 222);
    font-family: sans-serif;
    text-align: center;
    margin-left: 410px;
    margin-right: 410px;
    padding: 10px;
    margin-top: 0px;
}

#titulo-tabla {
    font-family: serif;
    text-decoration: underline;
    line-height: 25px;
    font-size: 18px;
}

#form {
    background-color: rgb(224, 222, 222);
    font-family: sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
}

#pie-pagina {
    background-color: rgb(224, 222, 222);
    font-family: sans-serif;
}